*{
	margin:0;
}
h1{
	color:white;
}
header{
	background-color:purple;
}
section{
	background-color:orange;
	color:purple;
}
nav{
	background-color:orange;
	color:purple;
}
aside{
	background-color:orange;
	
}